<h1>Edit an existing article</h1>

<form action="/articles/<%= @article.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  <input type="text" name="title" placeholder="Article Title" value="<%= @article.title %>">
  <input type="text" name="content" placeholder="Article Content" value="<%= @article.content %>">
  <input type="submit" id="Submit">
</form>
