<h1>Add a new article</h1>

<form action="/articles" method="post">
  <input type="text" name="title" placeholder="Article Title" value="sample title">
  <input type="text" name="content" placeholder="Article Content" value="sample content">
  <input type="submit" id="Submit">
</form>
