<h1>Create a new article</h2>
<form action="/articles" method="POST">
    <label for="title">Title:</label>
    <input id="title" type="text" name="title"></br>
    <label for="content">Content:</label>
    <input id="content" type="text" name="content"></br>
    <button id="submit" type="submit">Submit</button>
</form>